<footer>
  <div class="footer-elements">
    <div class="logo">
      <a href="">
        <img src="assets/img/mistral-logo.svg" alt="Mistral AI">
      </a>
    </div>
    <div class="column-group">
      <h3 class="title">Explorer</h3>
      <a href="" class="footer-link">Documentations</a>
      <a href="" class="footer-link">Créer une interface</a>
      <a href="" class="footer-link">Démarrer un Chat</a>
    </div>
    <div class="column-group">
      <h3 class="title">A propos de nous</h3>
      <a href="" class="footer-link">Qui sommes-nous&nbsp;?</a>
      <a href="" class="footer-link">Nous rejoindre</a>
      <a href="" class="footer-link">Nos actualités</a>
      <a href="" class="footer-link">Nous contacter</a>
      <a href="" class="footer-link">Nos tarifs</a>
    </div>
    <div class="column-group">
      <h3 class="title">Mentions légales</h3>
      <a href="" class="footer-link">Conditions d’utilisation</a>
      <a href="" class="footer-link">Politique de confidentialité</a>
      <a href="" class="footer-link">Accord de traitement des données</a>
    </div>
  </div>
</footer>