<footer style="position: relative;">
  <div class="footer-elements">
    <div class="logo">
      <a href="">
        <img src="assets/img/mistral-logo.svg" alt="Mistral AI">
      </a>
    </div>
    <div class="column-group">
      <h3 class="title">Explorer</h3>
      <a href="https://docs.mistral.ai/" class="footer-link">Documentations</a>
      <a href="https://console.mistral.ai/" class="footer-link">Créer une interface</a>
      <a href="https://chat.mistral.ai/" class="footer-link">Démarrer un Chat</a>
    </div>
    <div class="column-group">
      <h3 class="title">A propos de nous</h3>
      <a href="https://mistral.ai/fr/company/" class="footer-link">Qui sommes-nous&nbsp;?</a>
      <a href="https://jobs.lever.co/mistral" class="footer-link">Nous rejoindre</a>
      <a href="https://mistral.ai/fr/news/" class="footer-link">Nos actualités</a>
      <a href="https://mistral.ai/fr/contact/" class="footer-link">Nous contacter</a>
      <a href="https://mistral.ai/fr/technology/#pricing" class="footer-link">Nos tarifs</a>
    </div>
    <div class="column-group">
      <h3 class="title">Mentions légales</h3>
      <a href="https://mistral.ai/fr/terms#terms-of-use" class="footer-link">Conditions d’utilisation</a>
      <a href="https://mistral.ai/fr/terms#privacy-policy" class="footer-link">Politique de confidentialité</a>
      <a href="https://mistral.ai/fr/terms#data-processing-agreement" class="footer-link">Accord de traitement des
        données</a>
    </div>
  </div>
</footer>