<div class="carousel">
  <div class="carousel-items">
    @for (companies of companiesMultiplier; track $index) {
    <img src="assets/img/companies/bnp.png" alt="BNP PARIBAS">
    <img src="assets/img/companies/brave.png" alt="Brave">
    <img src="assets/img/companies/cloudflare.png" alt="CloudFlare">
    <img src="assets/img/companies/cma.png" alt="CMA CMG">
    <img src="assets/img/companies/hugging.png" alt="Hugging Faces">
    <img src="assets/img/companies/lamini.png" alt="LAMINI">
    <img src="assets/img/companies/lindy.png" alt="Lindy">
    <img src="assets/img/companies/mongo.png" alt="Mongo DB">
    <img src="assets/img/companies/octo.png" alt="Octo AI">
    <img src="assets/img/companies/orange.png" alt="Orange">
    <img src="assets/img/companies/pretto.png" alt="Pretto">
    <img src="assets/img/companies/bnp.png" alt="BNP PARIBAS">
    }
  </div>
</div>