* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.main {
    min-height: 100vh;
    width: 100%;
    // background-image: radial-gradient(113% 91% at 17% -2%, #230D00FF 2%, #FF000000 99%), radial-gradient(142% 91% at 83% 7%, #190C38FF 18%, #FF000000 99%), radial-gradient(142% 91% at -6% 74%, #1B0531FF 1%, #FF000000 99%), radial-gradient(142% 91% at 111% 84%, #EB5829FF 0%, #A03C1CFF 51%, #DF4E22FF 100%);
    background-image: radial-gradient(113% 91% at 17% -2%, #050013FF 0%, #FF000000 99%), radial-gradient(142% 91% at 83% 7%, #190C38FF 18%, #FF000000 99%), radial-gradient(142% 91% at -6% 74%, #1B0531FF 1%, #FF000000 99%), radial-gradient(142% 91% at 111% 84%, #EB5829FF 0%, #A03C1CFF 51%, #DF4E22FF 100%);
    overflow-x: hidden !important;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

.main-btn {
    position: relative;
    border-radius: 100px;
    padding: 10px 30px;
    color: white;
    font-size: 16px;
    background: transparent;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    width: 174px;
    height: 44px;
    transition: all 0.3s ease;

    &:hover {
        position: relative;
        box-shadow: 0px 0px 10px 10px #ee792f1a;
    }

    // Création de la bordure avec animation
    &::before {
        content: "";
        position: absolute;
        top: -100px;
        right: -2px;
        bottom: -2px;
        border-radius: 100px;
        background: linear-gradient(92.92deg, rgb(235 89 41 / 9%) 25.33%, rgb(59 54 112 / 0%) 63.7%, #FFFFFF 69.14%, rgb(59 54 112) 89.11%, rgb(69 63 180 / 72%) 96.97%);
        z-index: -1;
        width: 180px;
        height: 200px;
        animation: borderRotate 5s linear infinite;
    }

    // Définition de la couleur de fond du bouton
    &::after {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        border-radius: 100px;
        background: linear-gradient(112.88deg, #EA3326 6.95%, #EB5829 27.42%, #EE792F 57.46%, #F2A73B 75.84%);
        z-index: -1;
    }
}

.hide-desktop {
    display: none;
}

.hide-mobile {
    display: block;
}

// Animation pour faire tourner le gradient autour du bouton
@keyframes borderRotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1090px) {
    .hide-desktop {
        display: unset;
    }

    .hide-tablet {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .hide-desktop {
        display: unset;
    }

    .hide-mobile {
        display: none;
    }
}